<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <h1>New Document</h1>
    <form action="/name" type="POST">
      <label for="first"
        >First name
        <input id="first" name="first" type="text" />
      </label>
      <label for="first"
        >Last name
        <input id="last" name="last" type="text" />
      </label>
      <button>Submit</button>
    </form>
  </body>
</html>
